{{ define "main" }}
<div class="container">
  <div class="hero">
    <div class="hero-content">
      <h1>Support.</h1>

      <p class="subhead">
        Если вам всё ещё нужна наша помощь, напишите нам на <a href="/">{{ .Site.Params.Email }}</a>.
      </p>
    </div>

    <div style="text-align: right">
      <img
          src="https://assets.website-files.com/61e0050d34a36727a19d255b/61e15a0baab6330bd739a5dc_photo-10-p-1080.jpeg"
          height="600px"
      >
    </div>
  </div>
</div>
{{ end }}
