{{ define "main" }}
<div class="container">
  <div class="hero">
    <div class="hero-content">
        <h1>
          <i class="subhead" style="vertical-align: bottom;display: inline-block">Приложение для изучения</i><br>
          иностранных слов.
        </h1>

      <p class="subhead">
        We believe that the human dimensions essential to start any successful project and that this is where splendid emotional relationships between the company and people are born.
      </p>
    </div>

    <div class="hero-figure">
      <img
          src="https://assets.website-files.com/61e0050d34a36727a19d255b/61e15a0baab6330bd739a5dc_photo-10-p-1080.jpeg"
          height="600px"
      >
    </div>
  </div>
</div>
{{ end }}
