{{ define "main" }}
<div class="container">
  <div class="hero">
    <div class="hero-content">
      <h1>Политика конфидециальности.</h1>

      <p class="subhead">
        In addition to this Privacy Policy, we provide data and privacy information embedded
        in our products and certain features that ask to use your personal data.
        This product-specific information is accompanied by our Data & Privacy Icon.
      </p>

      <p class="subhead2 muted mb-0">
        Change date 2022.01.01
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="fag-item">
    <div class="faq-item-header">
      <h2>Какие данные мы собираем?</h2>
    </div>

    <div class="faq-item-body">
      <p>
        At Apple, we respect your ability to know, access, correct, transfer, restrict the processing of, and delete your personal data. We have provided these rights to our global customer base and if you choose to exercise these privacy rights, you have the right not to be treated in a discriminatory way nor to receive a lesser degree of service from Apple. Where you are requested to consent to the processing of your personal data by Apple, you have the right to withdraw your consent at any time.
      </p>

      <p>
        For research and development purposes, we may use datasets such as those that contain images, voices, or other data that could be associated with an identifiable person. When acquiring such datasets, we do so in accordance with applicable law, including law in the jurisdiction in which the dataset is hosted. When using such datasets for research and development, we do not attempt to reidentify individuals who may appear therein.
      </p>
    </div>
  </div>

  <div class="fag-item">
    <div class="faq-item-header">
      <h2>Your Privacy Rights at Apple.</h2>
    </div>
  </div>

  <div class="fag-item">
    <div class="faq-item-header">
      <h2>Personal Data Apple Collects from You.</h2>
    </div>
  </div>
</div>
{{ end }}
